
@font-face {
  font-family: "Digit";
  src: url('./fonts/DS-DIGI.TTF') format('truetype');
}
.digit{font-family: "Digit";font-size: 3rem;}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 238, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.ligth_blue_old{color:#ffee00;}

.ultra_small{font-size: 2rem;
margin-left: -8px;}

.red_border{border: 3px solid red;}

.single_tx{background-color:#07ecf8;}

.step_indicator{font-size: 1.6rem;
text-transform: uppercase;
font-weight: 800;}

.small_price{
  font-size: 0.88rem;
}
.bolder{font-weight: 800;}
.themed-grid-col {
    border: 1px solid #ced9bf;
}
.report_area{
  background-color: #ecf1f1;
}

.offcanvas-title{font-size: 1.4rem;}

@media (max-width: 576px) {
.bi-lightbulb{float: left;}
}


/* INSTRUCTIONS */
#instructions p{
  font-size: 1.3rem;
}
#cid_inst{max-width: 100%;
margin-bottom: 10px;}
